/*Formatting for HW1*/
* {
	font-family: Serif, Verdana;
}

.Category {
	font-weight: bold;
	font-size: 1.2em;
}

table {
	border-collapse: collapse;
	border: 6px solid black;
}


tr, td {
	border: 3px solid black;
}


a:link {
	font-color: blue;
}

a:visited {
	color: green;
	}

a:hover {
	color: orange;
}